<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load staticfiles %}
<html>
	<head>
		<title>Index</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href={% static 'ru_inv/assets/css/main.css'%} />
	</head>
	<body>
	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<span class="avatar"><img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.digimanindia.com%2Fimages%2Fcomputer-support-in-mumbai.jpg&f=1"></span>
			</header>
			<!-- Thumbnails -->
			<section class="thumbnails">
				<div>
			{% if all_inventories %}
					<ul>
						{% for inv in all_inventories %}
						<li> <a href="{% url 'ru_inv:inv_details' inv.id %}">{{inv}} </a> </li>							
			{% endfor %}
					</ul>
			{% else %}
				<h3> There are no Inventories stored in the system </h3>
				</div>
			{% endif %}
			</section>
			<!-- Footer -->
			<footer id="footer">
				<p>&copy; Index_page. All rights reserved.</p>

			</footer>

		</div>
	</body>
</html>