{% load staticfiles %}
<html>
	<link rel="stylesheet" href={% static 'inv/assets/css/nav.css'%} />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src={% static 'inv/assets/js/nav.js'%}></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href={% static 'inv/assets/css/main.css'%} />
	<title> Delete </title>
	<div>
    	<header id="header">
			<span class="avatar"><img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.digimanindia.com%2Fimages%2Fcomputer-support-in-mumbai.jpg&f=1"></span>
	        <a class="navbar-brand" href="{% url 'inv:inv_index' %}">Home</a>
		</header>

		<body>
			
		<h1> Deleted </h1>


		</body>
	</div>





